<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
  <!-- 1.오라클(oracle) 데이터 베이스 -->
   <!-- <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@db.newlecture.com:1521/xepdb1"/>
        <property name="username" value="RLAND"/>
        <property name="password" value="0530"/> -->
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" 	value="jdbc:mariadb://db.newlecture.com:3306/rlanddb?serverTimezone=Asia/Seoul&amp;characterEncoding=UTF-8"/>
        <property name="username" value="may"/>
        <property name="password" value="240219"/>	<!-- DB 계정 생성일자 -->
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mappers/MenuRepositoryMapper.xml"/>
  </mappers>
</configuration>    
